//color
$primaryColor: #0e0e0e;
$secondaryColor: #f27d14;
$baseBgGrayColor: #141313;
$itemOrangeColor: #ff7b04;
$itemGrayColor: #363636;
$whiteColor: #fff;
$blackColor: #000;

$inputGrayColor: #d9d9d910;
$listBoxGrayColor: #1e1d1d;
$modelBoxBgColor: #1e1e1e;
$instructionGrayColor: #969494;

$notSchedule: #ff3300;
$underConstruction: #5577ff;
$complete: #f27d14;
$beforeConstruction: #04b035;
//breakpoints
$breakpoints: (
  small: 768px,
  medium: 1024px,
  large: 1440px,
);
