//color
$primaryColor: #0E0E0E;
$secondaryColor: #F27D14;
$baseBgGrayColor: #141313;
$itemOrangeColor: #FF7B04;
$itemGrayColor: #363636;
$whiteColor: #fff;
$blackColor: #000;
$statusRedColor: #F24822;
$statusGreenColor: #0A4500;
$statusBlueColor: #061E7E;
$statusGrayColor: #313131;