//color
$primaryColor: #0E0E0E;
$secondaryColor: #F27D14;
$baseBgGrayColor: #141313;
$itemOrangeColor: #FF7B04;
$itemGrayColor: #363636;
$whiteColor: #fff;
$blackColor: #000;
$statusRedFillColor: #D42903;
$statusRedStokeColor: #F24822;
$statusGreenFillColor: #072f00;
$statusGreenStokeColor: #0A4500;
$statusBlueFillColor: #061E7E;
$statusBlueStokeColor: #5577ff;
$statusOrangeFillColor: #BB5800;
$statusOrangeStokeColor: #ff7b04;
$inputGrayColor: #d9d9d910;
$listBoxGrayColor: #1e1d1d;