//import function
@use "../assets/styles/components/functions" as *;

//import components
@import "../assets/styles/components/variables";
@import "../assets/styles/components/mixins";

.dateFilterSection {
    @include flex(row, space-between, center, 0);
    margin-bottom: px-to-rem(20);
}

.allDetailsSection {
    height: calc(100vh - px-to-rem(310));
    // overflow-y: scroll;
    background-color: $baseBgGrayColor;
    border-radius: px-to-rem(20);
    padding: px-to-rem(20) px-to-rem(20) px-to-rem(60) px-to-rem(20);

    .allDetails {
        @include flex(column, start, start, px-to-rem(20));
        flex-wrap: nowrap;
        height: calc(100vh - px-to-rem(310));
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        ;

        .detailContainer {
            width: calc(100% - px-to-rem(40));

            background-color: #36363653;
            padding: px-to-rem(20);
            border-radius: px-to-rem(20);

            .detailHeader {
                @include flex(row, space-between, center, 0);

                h3 {
                    color: $secondaryColor;
                }
            }

            .detailContent {
                // @include flex(row, start, center, px-to-rem(20));
                @include grid (15% 1fr, 1fr, px-to-rem(20));
                // flex-wrap: nowrap;
                background-color: $itemGrayColor;
                padding: px-to-rem(20);
                border-radius: px-to-rem(20);
                margin: px-to-rem(5) 0;

                .operationDetail {
                    border: 1px solid #5577FF;
                    padding: px-to-rem(5) px-to-rem(10);
                    border-radius: px-to-rem(20);

                    h4 {
                        color: #5577FF;
                        font-weight: 400;
                        margin-bottom: px-to-rem(20);
                        text-align: center;
                    }

                    .operationDetailInfo {
                        padding: px-to-rem(5);
                        // line-height: px-to-rem(20);
                    }

                }

                .staffVehicleDetail {
                    @include flex(column, start, center, px-to-rem(10));
                    width: 100%;
                    // background-color: #5577FF;

                    .staffContainer,
                    .vehicleContainer {
                        @include flex(row, start, center, px-to-rem(10));
                        flex-wrap: nowrap;
                        width: 100%;
                    }

                    .staffDetailContainer,
                    .vehicleDetailContainer {
                        @include flex(row, start, center, px-to-rem(10));
                        background-color: $inputGrayColor;
                        padding: px-to-rem(10) px-to-rem(20);
                        min-height: 3vh;
                        width: calc(100% - px-to-rem(20));
                        border-radius: px-to-rem(20);
                    }

                    .staffImgContainer,
                    .vehicleImgContainer {
                        position: relative;
                        top: 0;

                        .teamColor,
                        .gpColor {
                            width: px-to-rem(40);
                            height: px-to-rem(40);
                            background-color: #5577FF;
                            border-radius: 50%;
                        }

                        .staffImg,
                        .vehicleImg {
                            position: absolute;
                            top: 1px;
                            left: 5px;
                            width: px-to-rem(40);
                            height: px-to-rem(40);
                            border-radius: 50%;
                        }

                    }

                    .staffName,
                    .vehicleName {
                        text-align: center;
                    }

                    .addStaffBtn:hover,
                    .addVehicleBtn:hover {
                        cursor: pointer;
                        opacity: .8;
                    }



                }


            }
        }
    }
}