//import function
@use "../styles/components/functions" as *;
//import components
@import "../styles/components/variables";
@import "../styles/components/mixins";

.infoContainer {
  background-color: $baseBgGrayColor;
  height: 100%;
  overflow: hidden;
  border-radius: px-to-rem(30);
  .coverDiv {
    background-color: $inputGrayColor;
    height: 28%;
    border-radius: px-to-rem(30);
    position: relative;
    top: 0;
    .img {
      position: absolute;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: px-to-rem(15);
      top: 70%;
      left: 2%;

      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: contain;
      // }
    }
  }
  form {
    height: 65%;
    margin-top: 50px;
    .inputFieldContainer {
      padding: 0 40px;
      height: 85%;
      overflow: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      @include grid(1fr 1fr, 1fr, px-to-rem(50));

      .inputGp {
        width: 90%;
        margin-top: px-to-rem(10);
        label {
          @include flex(row, space-between, start, px-to-rem(10));
        }
        input,
        select,
        textarea {
          width: 100%;
          background-color: transparent;
          border: 1px solid $secondaryColor;
          padding: px-to-rem(10) 0;
          border-radius: px-to-rem(7);
          text-indent: px-to-rem(15);
          color: $secondaryColor;
          margin-top: px-to-rem(5);
          &:focus {
            outline: none;
          }
        }
        textarea {
          height: px-to-rem(100);
          resize: none;
        }
        .disabledInput {
          background-color: $itemGrayColor;
          border: none;
          cursor: not-allowed;
        }
      }
    }
    .btnContainer {
      hr {
        width: 90%;
        margin: 0 auto;
        border: 1px solid #36363691;
        margin-bottom: px-to-rem(5);
      }

      .btnGp {
        text-align: center;

        button {
          margin: px-to-rem(10);
        }
      }
    }
  }
}

// // responsive
@media (max-width: 768px) {
  .infoContainer {
    form {
      .inputFieldContainer {
        @include grid(1fr, 1fr, px-to-rem(10));
      }
    }
  }
}
