//import function
@use "../../../assets/styles/components/functions" as *;

//import components
@import "../../../assets/styles/components/variables";
@import "../../../assets/styles/components/mixins";

.StaffentryContainer {
  top: 10%;
  left: 20%;
  z-index: 20;
  width: 60vw;
}

.imageUploadContainer {
  @include flex(row, center, center, 0);
  width: 100%;
  margin-top: px-to-rem(10);
}

.vehicleInformation {
  background-color: #36363630;
  border-radius: px-to-rem(8);
  padding: px-to-rem(20);
  margin-top: px-to-rem(20);

  h4 {
    margin-bottom: px-to-rem(10);
    color: $itemOrangeColor;
  }
}

.noteInputContainer {
  background-color: #36363630;
  border-radius: px-to-rem(8);
  padding: px-to-rem(20);
  margin-top: px-to-rem(20);
}

.scroll {
  height: 65vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px; // Set scrollbar width
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor; // Style scrollbar thumb
    border-radius: px-to-rem(10);
  }

  &::-webkit-scrollbar-track {
    background: transparent; // Optional: Customize scrollbar track
  }
}